<main>
    <app-header></app-header>

    <div class="back">

        <div class="principal">

            <div class="head">
                <i class="fa-regular fa-user"></i>
            </div>

            <div class="seccion">
                <label>name:</label>
                <p> {{perfil?.nombre}} </p>
            </div>
            <div class="seccion">
                <label>surname:</label>
                <p> {{perfil?.apellido}}</p>
            </div>
            <div class="seccion">
                <label>occupation:</label>
                <p> {{perfil?.ocupacion}} </p>
            </div>
            <div class="seccion">
                <label>company:</label>
                <p> {{perfil?.empresa}} </p>
            </div>
    

             
                    <button (click)="onlogOut()" >
                        Log Out
                    </button>
              
          


        </div>
    </div>
</main>