body{
    background-image: url(https://i.postimg.cc/SN7R4WBL/loginnuevo.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: 100%;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 80px);
    padding: 10px 0;

}
.form{
  background-color: rgba(0, 0, 0, 0.8);
  border: white 2px solid; 
  height: 80vh;
  width: 80vw;
  min-width: 220px;
  padding: 10px 40px;
  display: flex;
  align-items: center;
}

form {
   min-height: 90%;
   height: fit-content;
   display: flex;
   flex-wrap: wrap;

}

.input{
  height: 4em;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input div{
  height: 30%;
  width: 80%;
}
label{
  color:red;
  display: flex;
  justify-content: flex-end;
}

input{
  height: 70%;
  width: 80%;
  font-size: 20px;
  background-color: black;
  color: white;
  border: solid 2px white;
  padding: 0 20px;
}
.create{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.create button{
  background-color: white;
  width: 7em;
  height: 2em;
  font-weight: 800;
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
}

.create button:hover{
  transform: scale(1.1);
}

.create button[disabled]{
transform: scale(1);
color: rgb(99, 99, 99);
}



@media only screen and (max-width: 690px) {
main {
  height: 100%;
}
form {
  flex-direction: column;
}
.form {
  height: fit-content;
  justify-content: center;
  padding: 0;
}
.input{
  width: 100%;
}
.create {
  padding: 10px 0;
}


}
