<app-loading *ngIf="loading"></app-loading> 
<body *ngIf="!loading">
    <app-login-header></app-login-header>

    <main>

        <div class="form">

            <form action="" [formGroup]="form" (ngSubmit)="enviar(form.value)">

                <div class="input">
                    <div><label for=""
                            *ngIf="form.get('nombre')?.touched && form.get('nombre')?.hasError('required')">required
                            value*</label></div>
                    <input type="text" placeholder="name*" formControlName="nombre">
                </div>
                <div class="input">
                    <div><label for=""
                            *ngIf="form.get('apellido')?.touched && form.get('apellido')?.hasError('required')">required
                            value*</label></div>
                    <input type="text" placeholder="surname*" formControlName="apellido">
                </div>
                <div class="input">
                    <div></div>
                    <input type="text" placeholder="occupation" formControlName="ocupacion">
                </div>
                <div class="input">
                    <div></div>
                    <input type="text" placeholder="company" formControlName="empresa">
                </div>
                <div class="input">
                    <div><label for=""
                            *ngIf="form.get('username')?.touched && form.get('username')?.hasError('required')">required
                            value*</label>
                    </div>
                    <input type="text" placeholder="username*" formControlName="username">
                </div>

                <div class="input">
                    <div><label for=""
                            *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">required value*</label> <label for=""
                            *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email')">invalid email</label></div>
                    <input type="email" placeholder="email*" formControlName="email">
                </div>
                <div class="input">
                    <div><label for=""
                            *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')">required value*</label></div>
                    <input type="password" placeholder="password*" formControlName="password">
                </div>
                <div class="input">
                    <div><label for=""
                            *ngIf="form.get('cpassword')?.touched && form.get('cpassword')?.hasError('required')">required value*</label>
                        <label for="" *ngIf="form.get('cpassword')?.touched && (!matchingControl)">different
                            password</label>
                    </div>
                    <input type="password" placeholder="confirm password*" formControlName="cpassword">
                </div>


                <div class="create">
                    <!--desabilitar cuando el formulario sea invalido o las contraseñas sean diferentes -->
                    <button type="submit" [disabled]="form.invalid || !matchingControl">create</button>
                </div>
            </form>
        </div>
    </main>


</body>