<main>

    <div class="form">
        <div class="head">
            <h1>WELCOME!</h1>
            
        </div>
        
        <form action="" [formGroup]="loginForm" (ngSubmit)="onLogin($event)" >

            <!-- username -->
            <div class="input">
                <i class="fa-solid fa-user"></i>
                <input type="text" placeholder="username" formControlName="username">
            </div>

            <!-- password -->
            <div class="input">
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="password" formControlName="password">
            </div>

            <button type="submit" [disabled]="loginForm.invalid" >log in</button>
        </form>
        
        <div class="foot">
            <a routerLink="/home">enter as a guest</a>
        </div>
    </div>


</main>