<main *ngIf="mostrar">
    <div class="item" *ngFor="let exp of experiences">
        
        <div>
            <h3 class="nombre">{{exp.nombre}} | {{exp.empresa}}</h3> 

            <p class="description">{{exp.descripcion}}</p>

            <div class="duracion">
                <p>{{exp.inicio}} - {{exp.fin}}</p>
            </div>
        </div>

        <div class="item_icon">
            <button (click)="onEditItem(exp.id)">
                <i class="fa-solid fa-pen" font-size="20px"></i>
            </button>
            <button (click)="onDelete(exp.id)">
                <i class="fa-solid fa-trash-can" font-size="20px"></i>
            </button>
        </div>
    
    </div>


    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

        <div class="form">
            <input formControlName="nombre" type="text" id="nombre" placeholder="name">
            <input formControlName="empresa" type="text" id="empresa" placeholder="company">
            <textarea formControlName="descripcion" rows="3" id="descripcion"
                placeholder="description (max. 999 characters)">  </textarea>
            <input formControlName="inicio" type="text" id="inicio" placeholder="start">
            <input formControlName="fin" type="text" id="fin" placeholder="end">

            <button type="submit">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>

    </form>
</main>

<div class="module" *ngIf="!mostrar">
    <form [formGroup]="editForm" (ngSubmit)="onSubEdit(editForm.value)">

        <div class="form">
            <input formControlName="nombre" type="text" id="nombre" placeholder="name">
            <input formControlName="empresa" type="text" id="empresa" placeholder="company">
            <textarea formControlName="descripcion" rows="3" id="descripcion"
                placeholder="description (max. 999 characters)">  </textarea>
            <input formControlName="inicio" type="text" id="inicio" placeholder="start">
            <input formControlName="fin" type="text" id="fin" placeholder="end">

            <button type="submit">
                <i class="fa-solid fa-check"></i>
            </button>
        </div>

    </form>
</div>