<main>
    <app-loading *ngIf="loading" id="loading"></app-loading> 
    <div class="principal" *ngIf="!loading">
        <!-- header -->
        <div class="header">

            <div *ngIf="edit" id="edit" (click)="onEdit()">
    
                <label *ngIf="mostrar"><i class="fa-solid fa-pen"></i> </label>
  
                <label *ngIf="!mostrar"><i class="fa-solid fa-check"></i> </label>
            </div>


            <h1>Skills</h1>
            <div *ngIf="!mostrar">
                <app-edit-skills></app-edit-skills>
            </div>

        </div>

        <!-- skills -->
        <div class="seccionskills">
            <div class="mainskills">

                <div class="bars" *ngFor="let skill of skills">

                    <div class="skill" *ngIf="mostrar">
                        <p>{{skill.nombre}}</p>
                        <div class="bars-container">
                            <div class="progress" [ngStyle]="{'width': getNivel(skill)}">
                                {{nivelObtenido(skill)}}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <!-- other skills -->

        <div class="sub-page">
            <div>
                <h3>Others:</h3>
                <app-skills-others *ngIf="mostrar"></app-skills-others>
                <app-edit-others *ngIf="!mostrar"></app-edit-others>
            </div>
            <div>
                <h3>Languages</h3>
                <app-skills-idioms *ngIf="mostrar"></app-skills-idioms>
                <app-edit-idioms *ngIf="!mostrar"></app-edit-idioms>
            </div>
        </div>


    </div>
</main>