<main>
    <div class="principal">
        <!-- header -->
        <div class="header">

            <div *ngIf="edit" id="edit" (click)="onEdit()">
                <!-- <img *ngIf="mostrar" src="./../../../../assets/images/edit-fill.png" alt=""> -->
                <label *ngIf="mostrar"><i  class="fa-solid fa-pen"></i> </label>
                <!-- <img *ngIf="!mostrar" src="./../../../../assets/images/check-fill.png" alt=""> -->
                <label *ngIf="!mostrar"><i  class="fa-solid fa-check"></i> </label>
            </div>


            <h1>Skills</h1>
            <div *ngIf="!mostrar">
                <app-edit-skills></app-edit-skills>
            </div>

        </div>

        <!-- skills -->
        <div class="seccionskills">
            <div class="mainskills">

                <div class="bars" *ngFor="let skill of skills">

                    <div class="skill" *ngIf="mostrar">
                        <p>{{skill.nombre}}</p>
                        <div class="bars-container">
                            <div class="progress" [ngStyle]="{'width': getNivel(skill)}">
                                {{nivelObtenido(skill)}}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- other skills -->
        <div class="others">
            <h3>Others:</h3>
            <div *ngIf="mostrar">
                <li> <label>Git & GitHub</label> </li>
                <li>Figma</li>
                <li>Scrum</li>
                <li>JTW</li>
                <li>Git & GitHub</li>
                <li>Figma</li>
                <li>Scrum</li>
                <li>JTW</li>
            </div>
        </div>

        <div class="languages">
            <h3>Languages</h3>
            <li>Spanish: Native</li>
            <li>English: A2</li>

        </div>


    </div>
</main>