<main>
    <div class="principal">
        <div class="center">

            <div class="head">
                <h1>Education</h1>
                <div *ngIf="edit" id="edit" (click)="onEdit()">
       
                    <label *ngIf="mostrar"><i  class="fa-solid fa-pen"></i> </label>
      
                    <label *ngIf="!mostrar"> <i class="fa-solid fa-xmark"></i> </label>
                </div>
            </div>

            <div *ngIf="!mostrar">
                <app-edit-education></app-edit-education>
            </div>

            <div *ngIf="mostrar">
                <div class="items" *ngFor="let edu of education">

                    <div class="item">
                        <div class="date">
                            {{edu.fin}}
                        </div>
                        <div>
                            {{edu.nombre}} | {{edu.instituto}}
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</main>