<table>

    <tbody>
        <tr *ngFor="let skill of otherSkills">

            <td>
                <li>
                    {{ skill.nombre }}
                </li>

            </td>


            <td>
                <button (click)="deleteOtherSkill(skill.id)">
                    <i class="fa-solid fa-delete-left"></i>
                </button>
            </td>
        </tr>

    </tbody>

</table>

<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

    <div>

        <input formControlName="nombre" type="text">
        
        <button type="submit"  [disabled]="form.invalid">
            <i class="fa-solid fa-plus"></i>
        </button>

    </div>

</form>