main {
  background-image: url(https://i.postimg.cc/9QmMQD26/fondonuevo.png);
  background-size: cover;
  background-position: center;
  height: fit-content;
}

.principal {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.cards {
  max-width: 1200px;
  margin: 10px auto;
}
.card {
  width: 30%;
  margin-right: 2%;
  margin-bottom: 2%;
  background-color: rgb(26, 26, 26);
  float: left;
  border: solid 1px white;
  border-radius: 10px;
  color: #999;
}

.card-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-text {
  padding: 0.1em 0.5em;
}
.card a {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  color: white;
}

@media (max-width: 767px) {
  .card {
    width: 90%;
    margin: 5%;
  }
}

.head{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
}

#edit {
  cursor: pointer;
  background-color: white;
  font-size: 1.5em;
  border-radius: 100%;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  color: black;
}
i,label{
  cursor: pointer;
}




/* banner */
/* cuadro de usuario */
.banner {
  position: absolute;
  top: 70px;
  right: 0;
  margin-right: 30px;
  background-color: rgb(255, 255, 255);
  z-index: 100;
}

.banner   p{
  color: black;
  font-weight: 700;
}
.banner button {
margin: 0 10px 5px 10px;
height: 2.5em;
width: 7em;
font-size: larger;
font-weight: 700;
cursor: pointer;
}


/* invitado */
.guest{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login{
    background-color: black;
    color: white;
}
#signUp{
    background-color: white;

}
/*  */

/* admin */
.admin{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin p {
  margin: 0;
  padding: 5px;
}
.admin button{
  margin-top: 10px;
  background-color: black;
  color: white;
}
.admin button:hover{
  background-color: rgb(80, 80, 80);
  transition: ease-in-out 0.5s;
}

/* user */
.user{
  height: fit-content;
  width: 10vw;
display: flex;
justify-content: flex-end;
padding: 10px;
}
.recuadro{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  background-color: rgb(255, 255, 255);
  border-left: 2px solid black;
}
.recuadro p {
  border-bottom: 1px solid black;
  width: 100%;
  padding-left: 10px;
}

.banner a {
  color: black;
  background-color: rgb(255, 255, 255);
  padding-left: 5px;
  cursor: pointer;
}