<main>
    <div class="principal">


        <div class="profile">
            <div class="imgdiv">
                <img src="./../../../../assets/images/perfil.jpg" alt="">
            </div>
        </div>
        <div class="information">
            <div id="edit" (click)="onEdit()">
                <img *ngIf="mostrar" src="./../../../../assets/images/edit-fill.png" alt="">
                <img *ngIf="!mostrar" src="./../../../../assets/images/close-fill.png" alt="">
            </div>

            <div *ngIf="mostrar">
                <h1 *ngIf="mostrar" class="items">Hi, I'm <label> {{perfil?.nombre}} {{perfil?.apellido}} </label> </h1>

                <p *ngIf="mostrar" class="items">{{perfil?.titulo}}</p>
                
                <p *ngIf="mostrar" class="items">{{perfil?.presentacion}}</p>
                
                <button *ngIf="mostrar" class="items">contact</button>
                
            </div>
            <div *ngIf="!mostrar">
                <app-edit-main (save)="onSave($event)"></app-edit-main>
            </div>

        </div>
    </div>
</main>