<main>

    <div class="principal">

        <div class="header">
            <div *ngIf="edit" id="edit" (click)="onEdit()">
                <label *ngIf="mostrar"><i  class="fa-solid fa-pen"></i> </label>
                <label *ngIf="!mostrar"> <i class="fa-solid fa-xmark"></i> </label>
            </div>
        </div>
        <div class="showInfo" *ngIf="mostrar">

            <div class="profile">
                <div class="imgdiv">
                    <img [src]="perfil?.foto" alt="">
                </div>
                <div class="headInfoMovile">
                    <h1 class="items">Hi, I'm <label> {{perfil?.nombre}} {{perfil?.apellido}} </label> </h1>

                    <p class="items">{{perfil?.titulo}}</p>
                </div>
            </div>

            <div class="information">      

                    <div class="headInfo">
                        
                        <h1 class="items">Hi, I'm <label> {{perfil?.nombre}} {{perfil?.apellido}} </label> </h1>

                        <p class="items">{{perfil?.titulo}}</p>
                    </div>

                    <p id="presentacion" class="items">{{perfil?.presentacion}}</p>

                    <button id="contact" class="items"><a href="https://www.linkedin.com/in/arrua-valentin/" target="_blank">contact</a></button>

            </div>
        </div>

        <div *ngIf="!mostrar">
            <app-edit-main (save)="onSave($event)"></app-edit-main>
        </div>
    </div>


</main>