main{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 100%;
}

.principal{
    margin: 40px 0 20px 0;
    height: fit-content;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: solid 1px white;
}
.profile{
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding: 1em;
}
.imgdiv{
    width: 100%;
    padding: 25px 0px 20px 10px;
    min-width: 10vw;
    max-width: 30vw;
}
img{
    width: 100%;
}

.information{
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
position: relative;
}
p {
text-align: justify;}

.items{
    margin: 20px 0 20px 0;
}

button{
    background-color: black;
    padding: 10px 20px;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
}

#edit{
    height: 2em;
    aspect-ratio: 1/1;
    border-radius: 100%;
    padding: 5px;
    align-items: center;
    background-color: aliceblue;
    position: absolute;
    right: 10px;  
    top: 10px;
    cursor: pointer;
}

/* input, textarea {
    margin: 20px 0 20px 0;
    background-color: black;
    color: white;
    border: solid 2px white;
} */

/* #nombre {
    width: 40%;
    font-size: 1.5em;
    margin-top: 30px;
    text-align: center;
}
#titulo {
    width: 30%;
    font-size: 1em;
    text-align: center;
}
#about {
    width: 90%;
    padding: 5px;
} */