main{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: url(../../../../assets/images/fondonuevo.png);
    background-size: cover;
    background-position: bottom;
}

.text h1, .text p{
    margin-left: 20px;
}





 /* cuadro de usuario */
 .banner {
    position: absolute;
    top: 70px;
    right: 0;
    margin-right: 30px;
    background-color: rgb(255, 255, 255);
    z-index: 100;
  }
  
  .banner p{
    color: black;
    font-weight: 700;
  }
  button {
  margin: 0 10px 5px 10px;
  height: 2.5em;
  width: 7em;
  font-size: larger;
  font-weight: 700;
  cursor: pointer;
  }
  
  
  /* invitado */
  .guest{
      height: fit-content;
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  #login{
      background-color: black;
      color: white;
  }
  #signUp{
      background-color: white;
  
  }
  /*  */
  
  /* admin */
  .admin{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .admin p {
    margin: 0;
    padding: 5px;
  }
  .admin button{
    margin-top: 10px;
    background-color: black;
    color: white;
  }
  .admin button:hover{
    background-color: rgb(80, 80, 80);
    transition: ease-in-out 0.5s;
  }
  
  /* user */
  .user{
    height: fit-content;
    width: 10vw;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  }
  .recuadro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    background-color: rgb(255, 255, 255);
    border-left: 2px solid black;
  }
  .recuadro p {
    border-bottom: 1px solid black;
    width: 100%;
    padding-left: 10px;
  }
  
  a {
    color: black;
    background-color: rgb(255, 255, 255);
    padding-left: 5px;
  }