body {
    margin: 0;
    color: white;
}
*{
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration-color: none;
    text-decoration-style: none;
    text-decoration-color: none;
}