div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5em;
}

a{
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 0.3em;
    margin: 0.5em 0 0 0;
    border-bottom: solid 1px transparent;
    transition: ease 0.5s;
    
}
a:hover{
    border-bottom: solid 1px white;
}

h2{
    font-size: 2em;
    margin: 0.3em 0 0 0 ;
}

p{
    color: rgb(134, 134, 134);
}