<div class="items">

    <div class="item">
        <div class="date">
            07/2019
        </div>
        <div>
            Bachiller en administracion y economia | insc
        </div>
        <div class="change">
        <div id="modify">
            <img  src="./../../../../../assets/images/edit-fill.png" alt="">
        </div>
        <div id="modify">
            <img  src="./../../../../../assets/images/close-fill.png" alt="">
        </div>
    </div>
            
        
    </div>
    <div class="item">
        <div class="date">
            07/2019
        </div>
        <div>
            bachiller en administracion y economia | insc
        </div>
    </div>
    <div class="item">
        <div class="date">
            07/2019
        </div>
        <div>
            bachiller en administracion y economia | insc
        </div>
    </div>

    <div >
        <div class="addIcon">
            <img src="./../../../../../assets/images/close-fill.png" alt="">
        </div>
    </div>

</div>
