<div class="item-container" *ngFor="let edu of education">
    <div class="item">
        <div class="info">
            <div class="date">
                {{edu.fin}}
            </div>

            <div>
                {{edu.nombre}} |
                {{edu.instituto}}
            </div>
        </div>
        <button (click)="onDelete(edu.id)">
            <i class="fa-solid fa-trash-can"></i>
        </button>
    </div>
</div>

<div class="item-container">

    <div class="date">
        <button (click)="onAdd()" *ngIf="mostrar">
            <i class="fa-solid fa-square-plus"></i>
        </button>
    </div>

    <!--  -->
    <form *ngIf="!mostrar" [formGroup]="form" (ngSubmit)="onSave(form.value)">

        <div class="item">

            <div class="info">

                <div class="date">
                    <input #fin formControlName="fin" type="text" placeholder="">
                </div>
                <div class="input-nombre">
                    <input #nombre formControlName="nombre" type="text" placeholder="">
                    <input #instituto formControlName="instituto" type="text" placeholder="">
                </div>

            </div>

            <button type="submit" [disabled]="form.invalid">
                <i class="fa-solid fa-check"></i>
            </button>

        </div>

    </form>

</div>